[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
flask = "*"
pyngrok = "*"
urllib3 = "*"
beautifulsoup4 = "*"
locales = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.10"
